/* search */
.search-wrap {
    display:flex;
    width:100%;
    max-width:570px;
    margin:0 auto;
    border-bottom:3px solid $point;
    .border-select-wrap {
        min-width:170px;
        width:170px;
    }
    .form-control {
        flex:1;
        border:none;
    }
    .btn-search {
        display:block;
        width:50px;
        min-width:50px;
        height:50px;
        background:url('/images/icon/icon-search.gif') right no-repeat;
    }
}

/* filter */
.list-filter {
    display:flex;
    align-items:flex-end;
    margin-bottom:30px;
    @include mobile {
        display:block;
        margin-bottom:10px;
    }
    .search {
        order:2;
        display:flex;
        width:100%;
        max-width:370px;
        margin-left:auto;
        border-bottom:2px solid $point;
        @include mobile {
            max-width:none;
        }
        .form-control {
            border:none;
            padding-left:0;
        }
        .btn-search {
            display:block;
            width:50px;
            height:50px;
            background:url('/images/icon/icon-search.gif') right no-repeat;
            @include mobile {
                width:44px;
                height:44px;
                background-size:20px;
            }
        }
    }
    .total {
        margin-right:auto;
        font-size:14px;
        color:#666;
        @include mobile {
            margin-top:20px;
        }
        em {
            margin-left:4px;
            color:$point;
            font-weight:500;
        }
    }
}

/* form */
.form-wrap {
    .form-title {
        display:flex;
        align-items:flex-end;
        margin-bottom:50px;
        @include mobile {
            display:block;
            margin-bottom:40px;
        }
        .tit {
            @include font-md;
        }
        .desc {
            margin-left:auto;
            color:#666;
            @include font-sm;
            @include mobile {
                margin-top:10px;
            }
            &.essen {
                &::before {
                    content:'*';
                    color:$red;
                    margin-right:2px;
                }
            }
        }
    }
    &.col-type {
        .row {
            display:flex;
            align-items:center;
            > .label,
            > label {
                width:160px;
                min-width:160px;
                margin:0;
                @include font;
                text-align:left;
                @include mobile {
                    width:100px;
                    min-width:100px;
                }
            }
            .forms {
                width:calc(100% - 160px);
                color:#666;
                @include mobile {
                    width:calc(100% - 100px);
                }
                .btn {
                    padding:0 20px;
                    height:50px;
                    line-height:48px;
                    @include mobile {
                        height:44px;
                        line-height:42px;
                    }
                }
                &.type2 {
                    flex-wrap:wrap;
                    .line {
                        display:flex;
                        width:100%;
                        margin-top:10px;
                        margin-left:0;
                        > * {
                            margin-left:5px;
                            &:first-child {
                                margin-left:0;
                            }
                        }
                        &:first-child {
                            margin-top:0;
                        }
                        &.half {
                            max-width:50%;
                            @include mobile {
                                max-width:none;
                            }
                        }
                        &.line2 {
                            @include mobile {
                                flex-wrap:wrap;
                                .form-control {
                                    width:100%;
                                    margin-left:0;
                                    margin-top:10px;
                                    &:first-child {
                                        margin-top:0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .row {
        margin-top:30px;
        &:first-child {
            margin-top:0;
        }
        > .label,
        > label {
            display:block;
            margin-bottom:10px;
            font-size:14px;
            font-weight:500;
            @include mobile {
                font-size:13px;
            }
            &.essen {
                &::after {
                    content:'*';
                    margin-left:2px;
                    color:$red;
                }
            }
        }
        .forms {
            display:flex;
            align-items:center;
            > * {
                margin-left:5px;
                &:first-child {
                    margin-left:0;
                }
            }
            .bar {
                @include font;
            }
            .select-wrap {
                width:40%;
            }
        }
        .error-msg {
            margin-top:10px;
            font-size:13px;
            line-height:14px;
            color:$red;
            @include mobile {
                font-size:12px;
            }
            &::before {
                content:'!';
                display:inline-block;
                vertical-align:top;
                width:14px;
                height:14px;
                margin-right:4px;
                border-radius:50%;
                background:$red;
                font-size:11px;
                line-height:14px;
                color:#fff;
                text-align:center;
            }
            &:empty {
                margin-top:0;
                &::before {
                    display:none;
                }
            }
        }
    }
}

/* search */
.search-filter {
    padding:30px 20px;
    background:$disabled;
    @include mobile {
        padding:20px 16px;
    }
    .box {
        display:flex;
        align-items:center;
        width:100%;
        max-width:1070px;
        margin:0 auto;
        > * {
            margin-left:10px;
            &:first-child {
                margin-left:0;
            }
        }
        .form-control,
        .select-wrap {
            flex:1;
        }
        @include mobile {
            flex-wrap:wrap;
            .form-control {
                flex:unset;
                width:calc((100% - 20px) / 2);
                margin-left:0;
            }
            .bar {
                width:20px;
                margin:0;
                text-align:center;
            }
            .select-wrap {
                margin-left:0;
                margin-top:5px;
            }
            .btn-gray {
                margin-top:5px;
            }
        }
    }
}

/* file upload */
.inputfile-wrap {
    position:relative;
    display:flex;
    width:100%;
    input[type="file"] {
        position:absolute;
        width:1px;
        height:1px;
        margin:-1px;
        padding:0;
        border:0;
        overflow:hidden;
        clip:rect(0, 0, 0, 0);
    }
    label.btn {
        display:block;
        width:160px;
        height:50px;
        margin-left:10px;
        line-height:48px;
        @include mobile {
            height:44px;
            line-height:42px;
        }
    }
}

/* 수집동의 */
.agree-chk-box {
    margin-top:100px;
    margin-left:160px;
    @include mobile {
        margin-top:60px;
        margin-left:0;
    }
    .tit {
        margin-bottom:20px;
        font-size:20px;
        font-weight:500;
        @include mobile {
            margin-bottom:10px;
            font-size:16px;
        }
    }
    .agree-cont {
        max-height:250px;
        padding:20px;
        border:1px solid $border;
        overflow-y:auto;
        color:#666;
        @include font-sm;
        @include mobile {
            max-height:200px;
            padding:12px;
        }
    }
    .chk-wrap {
        margin-top:20px;
        @include mobile {
            margin-top:10px;
        }
    }
}