.select-wrap {
    position:relative;
    .nice-select {
        position:relative;
        -webkit-tap-highlight-color: transparent;
        background-color: #fff;
        box-sizing: border-box;
        clear: both;
        cursor: pointer;
        display: block;
        font-size: 16px;
        height: 50px;
        line-height: 48px;
        border:1px solid $border;
        border-radius:4px;
        outline: none;
        padding-left:12px;
        padding-right:30px;
        text-align: left !important;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: nowrap;
        width: auto;
        color:$basic;
        z-index:100;
        @include mobile {
            height:44px;
            padding-left:10px;
            line-height:42px;
            font-size:14px;
        }
        > span.current {
            display:block;
            overflow:hidden;
            text-overflow:ellipsis;
            &.placeholder {
                font-size:14px;
                color:$placeholder;
            }
        }
        &.open {
            border-color:$point;
            border-bottom-left-radius:0;
            border-bottom-right-radius:0;
            z-index:110;
        }
        &.disabled {
            opacity:0.5;
        }
    }
    .nice-select:after {
        content: "";
        width:8px;
        height:8px;
        border:1px solid $cont;
        border-top:none;
        border-left:none;
        display: block;
        margin-top: -6px;
        pointer-events: none;
        position: absolute;
        right: 15px;
        top: 50%;
        transform:rotate(45deg);
        -webkit-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;
    }
    .nice-select.open:after {
        transform: rotate(225deg);
        margin-top:-2px;
    }
    .nice-select.open .list {
        opacity: 1;
        pointer-events: auto;
        border-color:$point;
        border-radius:0 0 4px 4px;
        -webkit-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        z-index:110;
    }
    .nice-select.disabled {
        background:$disabled;
        color: $gray;
        pointer-events: none;
    }
    .nice-select.disabled:after {
        border-color: #cccccc;
    }
    .nice-select .list {
        background:#fff;
        border:1px solid transparent;
        border-top:none;
        box-sizing: border-box;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        left: -1px;
        right:-1px;
        -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: scale(0.75) translateY(-21px);
        -ms-transform: scale(0.75) translateY(-21px);
        transform: scale(0.75) translateY(-21px);
        z-index: 100;
    }
    .nice-select .list:hover .option:not(:hover) {
        background-color: transparent;
    }
    .nice-select .option {
        cursor: pointer;
        font-weight: 400;
        line-height: 40px;
        list-style: none;
        min-height: 40px;
        outline: none;
        padding-left: 12px;
        padding-right: 12px;
        font-size:14px;
        text-align: left;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        @include mobile {
            padding:0 10px;
            font-size:13px;
        }
    }
    .nice-select .option:hover,
    .nice-select .option.focus,
    .nice-select .option.selected.focus {
        background-color:#eee;
    }
    .nice-select .option.selected {
        font-weight: bold;
    }
    .nice-select .option.disabled {
        background-color: transparent;
        color: #999;
        cursor: default;
    }
    
    .no-csspointerevents .nice-select .list {
        display: none;
    }
    
    .no-csspointerevents .nice-select.open .list {
        display: block;
    }
}

.border-select-wrap {
    position:relative;
    .nice-select {
        position:relative;
        -webkit-tap-highlight-color: transparent;
        background-color: #fff;
        box-sizing: border-box;
        clear: both;
        cursor: pointer;
        display: block;
        font-size: 16px;
        height: 50px;
        line-height: 50px;
        border:none;
        outline: none;
        padding-left:10px;
        padding-right:30px;
        text-align: left !important;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: nowrap;
        width: auto;
        color:#666;
        z-index:100;
        > span.current {
            display:block;
            overflow:hidden;
            text-overflow:ellipsis;
            &.placeholder {
                color:$placeholder;
            }
        }
        &.open {
            z-index:110;
        }
        &.disabled {
            opacity:0.5;
        }
    }
    .nice-select:after {
        content: "";
        width:8px;
        height:8px;
        border:1px solid $cont;
        border-top:none;
        border-left:none;
        display: block;
        margin-top: -6px;
        pointer-events: none;
        position: absolute;
        right: 20px;
        top: 50%;
        transform:rotate(45deg);
        -webkit-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;
    }
    .nice-select.open:after {
        transform: rotate(225deg);
        margin-top:-2px;
    }
    .nice-select.open .list {
        opacity: 1;
        pointer-events: auto;
        border-color:$border;
        -webkit-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        z-index:110;
    }
    .nice-select.disabled {
        background:$disabled;
        color: $gray;
        pointer-events: none;
    }
    .nice-select.disabled:after {
        border-color: #cccccc;
    }
    .nice-select .list {
        background-color: #fff;
        border:1px solid transparent;
        box-sizing: border-box;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        left: -1px;
        right:-1px;
        -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: scale(0.75) translateY(-21px);
        -ms-transform: scale(0.75) translateY(-21px);
        transform: scale(0.75) translateY(-21px);
        z-index: 100;
    }
    .nice-select .list:hover .option:not(:hover) {
        background-color: transparent;
    }
    .nice-select .option {
        cursor: pointer;
        font-weight: 400;
        line-height: 40px;
        list-style: none;
        min-height: 40px;
        outline: none;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }
    .nice-select .option:hover,
    .nice-select .option.focus,
    .nice-select .option.selected.focus {
        background-color:#f5f5f5;
    }
    .nice-select .option.selected {
        font-weight: 500;
    }
    .nice-select .option.disabled {
        background-color: transparent;
        color: #999;
        cursor: default;
    }
    
    .no-csspointerevents .nice-select .list {
        display: none;
    }
    
    .no-csspointerevents .nice-select.open .list {
        display: block;
    }
}