<footer>
    <div class="foot-area">
        <div class="left">
            <p class="logo"><img src="/images/logo.png" alt="인플스톡 로고"></p>
            <ul class="links">
                <li><a href="" class="sns01" target="_blank"><span class="blind">인플스톡 페이스북</span></a></li>
                <li><a href="" class="sns02" target="_blank"><span class="blind">인플스톡 인스타그램</span></a></li>
                <li><a href="" class="sns03" target="_blank"><span class="blind">인플스톡 유튜브</span></a></li>
                <li><a href="" class="sns04" target="_blank"><span class="blind">인플스톡 네이버</span></a></li>
            </ul>
        </div>
        <div class="right">
            <div class="flex-top">
                <div class="col">
                    <p class="tit">고객센터</p>
                    <p class="desc">오전 10시~오후 7시(주말, 공휴일 제외)</p>
                    <a href="" class="btn btn-gray btn-sm"><span>문의하기</span></a>
                </div>
                <div class="col">
                    <p class="tit">CONTACT</p>
                    <p class="desc">
                        Tel : 010-3433-3341<br>
                        Email : inflstock@naver.com
                    </p>
                </div>
                <div class="col">
                    <p class="tit">인플스톡</p>
                    <ul class="links">
                        <li><a href="/page/join.html">회원가입</a></li>
                        <li><a href="/page/sub_02.html">INS 거래소</a></li>
                        <li><a href="/page/sub_03.html">콘텐츠 스토어</a></li>
                    </ul>
                </div>
                <div class="col">
                    <p class="tit">인플루언서</p>
                    <ul class="links">
                        <li><a href="/page/sub_04.html">인플루언서 등록하기</a></li>
                        <li><a href="">인플루언서 가이드</a></li>
                        <li><a href="">콘텐츠 스토어 가이드</a></li>
                    </ul>
                </div>
            </div>
            <div class="foot-cont">
                <ul class="links">
                    <li><a href="">이용약관</a></li>
                    <li><a href="">개인정보취급방법</a></li>
                </ul>
                <p class="info">
                    <span>인플스톡 대표 : ㅇㅇㅇ</span>
                    <span>사업자등록번호 : 000-00-00000</span>
                    <span>통신판매업신고 : 0000-서울-0000</span>
                </p>
                <p class="cont">
                    인플스톡은 본 플랫폼에서 발생하는 크리에이터 서비스의 당사자가 아닙니다.<br>
                    제공되는 콘텐츠와 이벤트에 대한 전반적인 책임은 상점 운영자와 이벤트를 진행하는 주체에 있습니다.<br>
                    인플스톡팀은 상점과 이벤트 참여에 관련된 편리하고 공정한 온라인 솔루션을 제공할 수 있도록 항상 최선을 다하겠습니다.
                </p>
            </div>
        </div>
    </div>
</footer>