<header>
    <div class="head-top">
        <ul class="links">
            <!-- 로그인 전 -->
            <li><a href="#modal-login" data-toggle="modal">로그인</a></li>
            <li><a href="/page/join.html">회원가입</a></li>
            <!-- // 로그인 전 -->
            <!-- 로그인 후 -->
            <li><a href="" class="cash"><span class="blind">인플캐쉬</span>25,000</a></li>
            <li><a href="/page/logout.html">로그아웃</a></li>
            <!-- // 로그인 후 -->
            <li><a href="/page/notice.html">고객지원</a></li>
        </ul>
    </div>
    <div class="head-cont">
        <div class="area">
            <h1><a href="/"><img src="/images/logo.png" alt="인플스톡"></a></h1>
            <button type="button" class="btn-menu-all"><span class="bar"></span><span class="blind">전체 메뉴 보기</span></button>
            <nav id="gnb">
                <!-- 로그인 전 -->
                <div class="links">
                    <a href="/page/login.html">로그인</a>
                    <a href="/page/join.html">회원가입</a>
                </div>
                <!-- // 로그인 전 -->
                <!-- 로그인 후 -->
                <div class="links">
                    <a href="" class="cash"><span class="blind">인플캐쉬</span>25,000</a>
                    <a href="/page/logout.html">로그아웃</a>
                    <a href="">고객센터</a>
                </div>
                <!-- // 로그인 후 -->
                <ul>
                    <li>
                        <a href="/page/sub_01_01.html" class="dep1">인플스톡 소개</a>
                        <button type="button" class="btn-depth-more"><span class="blind">하위메뉴보기</span></button>
                        <ul class="depth2">
                            <li><a href="/page/sub_01_01.html" class="dep2">회사소개</a></li>
                            <li><a href="/page/sub_01_02.html" class="dep2">인플스톡 가이드</a></li>
                            <li><a href="/page/sub_01_03.html" class="dep2">인플 소식(+언론보도)</a></li>
                            <li><a href="/page/sub_01_04.html" class="dep2">인플루언서 문의</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/page/sub_02_01.html" class="dep1">인플스톡</a>
                        <button type="button" class="btn-depth-more"><span class="blind">하위메뉴보기</span></button>
                        <ul class="depth2">
                            <li><a href="/page/sub_02_01.html" class="dep2">인플루언서 차트</a></li>
                            <li><a href="/page/sub_02_02.html" class="dep2">INS 옥션</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/page/sub_03.html" class="dep1">콘텐츠 스토어</a>
                        <button type="button" class="btn-depth-more"><span class="blind">하위메뉴보기</span></button>
                        <ul class="depth2">
                            <li><a href="/page/sub_03.html" class="dep2">콘텐츠 차트</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/page/sub_04.html" class="dep1">인플루언서 등록</a>
                        <button type="button" class="btn-depth-more"><span class="blind">하위메뉴보기</span></button>
                        <ul class="depth2">
                            <li><a href="/page/sub_04.html" class="dep2">인플루언서 등록하기</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- 로그인 전 -->
                <a href="/page/login.html" class="btn-login" style="display:none;"><span class="blind">로그인</span></a>
                <!-- // 로그인 전 -->
                <!-- 로그인 후 -->
                <a href="/page/mypage_01.html" class="btn-my"><span class="photo" style="background-image:url('/images/@thumb2.jpg')"></span><em>웰시코기</em>님</a>
                <!-- // 로그인 후 -->
            </nav>
        </div>
    </div>
</header>